html,
body {
  padding: 0;
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#markdown-content-edit {
  display: flex;
  gap: 10px;
  height: 80vh;
}

.warning {
  color: yellow;
}

.blog-title {
  font-size: 50px;
  color: #34548a;
}

.link-to-post {
  text-decoration: underline;
}

#post-content-markdown {
  width: 50%;
  font-size: 1rem;
  outline: none;
  border: 2px solid #A1AAD1;
  resize: none;
  background: #24283B;
  padding: 20px;
  overflow-y: auto;
}

img {
  width: 100%;
  object-fit: contain;
}

#markdown-in-draft {
  display: block;
  width: 50%;
  outline: none;
  padding-left: 20px;
  border: 2px solid #A1AAD1;
  overflow-y: auto;
}

section {
  margin-left: 5%;
  margin-right: 5%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

nav {
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav button {
  display: inline-block;
  margin-left: 5px;
}

nav li a {
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  color:#BF7B58;
}
h2 {
  color: #2ABDD7;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    font-family: "sans-serif";
    color: #A1AAD1;
    background: #24283B;
  }
}
