html,
body {
  padding: 0;
  margin: 0;
  margin-left: 10px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

section {
  margin-left: 5%;
  margin-right: 5%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

nav {
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav button {
  display: inline-block;
  margin-left: 5px;
}

nav li a {
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  color:#BF7B58;
}
h2 {
  color: #2ABDD7;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    font-family: "sans-serif";
    color: #A1AAD1;
    background: #24283B;
  }
}
